<header class="">
  <nav class="navbar  navbar-light bg-light">
    <ul class="nav">
      <div class="triangle">
        <div class="circle"></div>
      </div>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/about">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/contact">Contact Me</a>
      </li>
    </ul>
  </nav>
</header>