<%- include ('partials/head.ejs') %>
</head>

<body>
  <div class="wrapper">
    <%- include ('partials/nav.ejs') %>

    <div class="container m-auto border-0">
      <div class="row about-row ">
        <div class="col-md-5  d-flex align-items-center flex-column justify-content-center">
          <img src="/image/albert.jpg" class="img-fluid w-100" alt="card-horizontal-image">
        </div>
        <div class="col-md-7 d-flex align-items-center justify-content-center flex-column">
          <h5 class="">Hello! I'm Wing Hon Winco Sze</h5>
          <p class="w-75  mx-auto text-start">A passionate software engineer in the industry. I thrive on tackling complex problems and turning innovative ideas into reality through code.</p>
          <h5 class=" mt-md-5">Mission Statement</h5>
          <p class=" w-75 mx-auto  text-start">My mission is driven by a deep understanding of the transformative power of software in today's digital landscape. I strive to create solutions that not only meet the immediate needs of clients and users but also have a lasting impact by embracing scalability, maintainability, and adaptability.</p>

        </div>
      </div>
    </div>
    <%- include ('partials/footer.ejs') %>
  </div>
</body>

</html>