<%- include ('partials/head.ejs') %>
</head>

<body>
  <div class="wrapper">
    <%- include ('partials/nav.ejs') %>
    <div class="text-center mt-5">
      <h1>GET IN TOUCH</h1>
      <p>Phone: +1(647)843-3948</p>
      <p>Email: wsze@my.centennialcollege.ca</p>
      <p>Address: 941 Progress Ave, Scarborough, ON M1G 3T8</p>
    </div>
    <div class="container mt-5 contact-container">
      <form action="/contact" class="row g-3 contact-row m-auto align-items-center justify-content-center" method="POST">
        <div class="col-md-6 d-flex flex-column justify-content-between" style="height: 200px;">
          <input type="text" name="firstname" class="form-control form-control-lg " placeholder="First Name">
          <input type="text" name="lastname" class="form-control form-control-lg " placeholder="Last Name">
          <input type="email" name="email" class="form-control form-control-lg " placeholder="Email">
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 200px"></textarea>
            <label for="floatingTextarea">Comments</label>
          </div>
        </div>

        <div class="mt-5 text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
    <%- include ('partials/footer.ejs') %>
  </div>
</body>

</html>