<%- include ('partials/head.ejs') %>
</head>

<body>
  <div class="wrapper">
    <%- include ('partials/nav.ejs') %>
    <div class="container projects-container d-flex align-items-center mb-2">
      <div class="row">

        <div class="col-lg-4 mt-3">
          <div class="card w-100 h-100">
            <img src="/image/PhotoViewer.jpg" class="card-img-top img-fluid " alt="card-img-top" id="image">
            <div class="card-body position-relative">
              <h5 class="card-title">Photo Viewer</h5>
              <p class="card-text">The Photo Viewer app is a user-friendly and intuitive application designed to provide a seamless and enjoyable experience for viewing and managing a collection of photos. It offers a range of features and functionalities that enhance the way users interact with their photos.</p>
            </div>
            <a href="https://studentweb.cencol.ca/wsze2/comp125/assignment2/assignment2.html" class="btn btn-primary w-25 m-auto mb-3">Go</a>
          </div>
        </div>

        <div class=" col-lg-4 mt-3">
          <div class="card w-100 h-100">
            <img src="/image/BugSmasher.jpg" class="card-img-top img-fluid" alt="card-img-top" id="image">
            <div class="card-body">
              <h5 class="card-title">Bug Smasher</h5>
              <p class="card-text">The BugSmasher game app is an engaging and addictive mobile game designed to provide hours of entertainment and challenge for players of all ages. It offers a unique and thrilling gameplay experience centered around smashing bugs in a fast-paced and dynamic environment.</p>
            </div>
            <a href="https://studentweb.cencol.ca/wsze2/comp125/assignment3/assignment3.html" class="btn btn-primary w-25 m-auto mb-3">Go</a>
          </div>
        </div>

        <div class="col-lg-4 mt-3">
          <div class="card w-100 h-100">
            <img src="/image/GenerateTable.jpg" class="card-img-top img-fluid " alt="card-img-top" id="image">
            <div class="card-body">
              <h5 class="card-title">Table Creator</h5>
              <p class="card-text">The Create Table app is a versatile and user-friendly application designed to simplify the process of creating and managing tables for various purposes. It offers a convenient and intuitive interface that allows users to effortlessly create, customize, and manipulate tables for organizing and presenting data.</p>
            </div>
            <a href="https://studentweb.cencol.ca/wsze2/comp125/assignment1/assignment1.html" class="btn btn-primary w-25 m-auto mb-3">Go</a>
          </div>
        </div>
      </div>
    </div>
    <%- include ('partials/footer.ejs') %>
  </div>
</body>

</html>